@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-clj5d2');
	src:url('fonts/icomoon.eot?#iefix-clj5d2') format('embedded-opentype'),
		url('fonts/icomoon.woff?-clj5d2') format('woff'),
		url('fonts/icomoon.ttf?-clj5d2') format('truetype'),
		url('fonts/icomoon.svg?-clj5d2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\e600";
}
.icon-settings:before {
	content: "\e601";
}
